.all{
    background-image: url(./background-2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.main{
    text-align: center;
    padding: 5px;
    background-color: azure;
    width:400px;
    margin-left: 300px;
    margin-top: 40px;
    
}

.container{
    margin: auto;
}
.inputs{
    padding: 7px;
   
}